^{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  margin: 0;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: 100%;
  padding-top: 10px;
  position: fixed;
  font-family: Graphik;
  background-color: white;
  z-index: 1;
  top: 0;
}


.logo{
  width: 25%;
  margin-right: 120px
}

.notlogo{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: row;
  text-decoration: none;
  width: 33%;
  margin-right: 40px;
}
.notlogo a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  opacity: 0.8;
}

.thumb{
  display: flex;
  flex-flow: row;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.thumb img{
  width: 50px;
  background-color: #E7332B;
  padding: 10px;
  border-radius: 50%;
}

.thumb a{
  color: white;
  background-color: #E7332B;
  padding: 13px;
  padding-right: 25px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  text-decoration: none;
  margin-left: -10px;
}

.main{
  display: flex;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 150px;
  width: 90%;
  height: 80vh;
  margin-bottom: 45px;
}

.girl{
  width: 30%;
}

.girl img{
  width: 380px;
  padding-top: 100px;
}

.text{
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 45%;
  justify-content: center;
  text-align: center;
  padding-bottom: 70px;
  position: relative;
  /*display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;*/
}

#search{
  margin-bottom: 10px;
}

#h1{
  font-size: 49px;
  margin-top: 1px;
  margin-bottom: 0.5px;
  font-weight: 800;
  line-height: 50px;
}

span{
  color: #E7332B;
  font-size: 17px;
}

.line{
  margin-left: 300px;
}

.line img{
  height: 20px;
}

#basic{
  width: 65%;
  font-size: 17px;
  opacity: 0.8;
}

.text button{
  background-color: #E7332B;
  width: 20%;
  border: none;
  color: white;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
}

button a{
  text-decoration: none;
  color: white;
}

#face{
  position: absolute;
  left: 0;
  top: 350px;
  transform: scale(0.7);
}

#secwire{
  width: 80px;
  position: absolute;
  left: 280px;
  top: 380px;
}

.boy{
  width: 25%;
}

.boy img{
  width: 300px;
}

hr{
  width: 90%;
}

.second{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.second div{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.sds{
  font-weight: bold;
}

.asa{
    text-align: center;
}

.asa a{
  color: green;
}

.powered{
  width: 200px;
  height: 150px;
}

.third{
  display: flex;
  flex-flow: row;
  width: 90%;
}

.third div{
  width: 50%;
}

.lines img{
  position: relative;
  height: 80px;
  margin-left: 270px;
  top: 50px;
}

#zuris{
  color: #E7332B;
  margin-bottom: 5px;
  font-size: 23px;
}

#thirdp{
  font-size: 40px;
  font-weight: bold;
  margin-top: 5px;
  opacity: 0.9;
}

#stars{
  transform: scale(0.6);
  margin-top: 70px;
  margin-left: 150px;
}

.fourth{
  width: 95%;
  height: auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.fourthdiv{
  width: 28%;
  margin: 15px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: relative;
  box-shadow: 0.1px 0.1px 40px #FFB6C1;
}

.fourthdiv:hover{
  margin-top: -10px;
}

.insidediv{
  width: 80%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.insidediv img{
  width: 50px;
  position: absolute;
  width: 118px;
  height: 110px;
  top: 0;
  right: 0;
}

.insidediv p{
  font-size: 18px;
  font-weight: 400;

}

.insidediv h1{
  margin: 5px;
  font-size: 50px;
}

.insidediv h2{
  font-size: 36px;
  font-style: normal;
}

#firstdiv{
  background-color: #E7332B;
  color: white;
}

.fifth{
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #E7332B;
  margin: 0;
}

.fifthdivs{
  width: 35%;
  margin-top: 60px;
  padding: 100px;
  color: white;
  text-align: left;
}

.fifthdivs p{
  font-size: 19px;
}

.fifthdivs h2{
  font-size: 45px;
  margin-top: 0px;
}

#firstp{
  margin-bottom: 3px;
}

#secondp{
  width: 70%;
  text-align: left;
}

.fifthdivs button{
  width: 30%;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.fifthdivs button a{
  color: #E7332B;
}

.fifthdiv{
  width: 55%;
  margin-top: 60px;
}

#biggirl{
  width: 90%;
}
